*{
    padding: 0;
    margin: 0;
    color: white;
    font-family:'Times New Roman', Times, serif;
}
body{
    background-color: #162b98;
    
}
#menus > div > a{
    text-decoration: none;
}
#comp_name{
    padding-left: 5em;
    font-size: larger;
}
#navigation{
    display: flex;
    justify-content: space-between;
    height: 2em;
    padding: 20px;
}
#menus{
    /* background-color: #000; */
    width: 45em;
    display: flex;
    justify-content: space-evenly;
}
#home{
    display: flex;
    padding: 50px;
    padding-left: 100px;
    justify-content: space-around;
}
#left_section > img {
    border-radius: 15px;
    height: 400px;
}
#right_section{
    /* border: 2px solid #000; */
    max-width: 500px;
    padding: 30px;
    padding-top: 0;
}
#right_section h1 {
  font-size: 2em;
  margin-bottom: 30px;
}

#right_section h1 span {
  color: #FFD43B;
}
form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  /* padding-top: 30px; */
}

.form-row {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

input, textarea {
  flex: 1;
  padding: 10px;
  border: none;
  border-radius: 8px;
  color: black;
  margin-top: 12px;
}

textarea {
    resize: none;
}

button {
    background-color: #FFD43B;
    color: #000;
    font-weight: bold;
    padding: 12px;
    border: none;
    border-radius: 10px;
    margin-top: 12px;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
  background-color: #ffbf00;
}
select, option{
  font-family: "Tahoma";
  padding: 10px;
  color: black;
  border-radius: 8px;
}