#profile_container {
  display: flex;
  justify-content: space-around;
  padding: 50px 100px;
  gap: 40px;
  flex-wrap: wrap;
}

#left_profile,
#right_appointments {
  background-color: white;
  padding: 30px;
  border-radius: 10px;
  flex: 1;
  min-width: 300px;
  max-width: 500px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

#left_profile h1,
#right_appointments h2 {
  color: #ffd43b;
  margin-bottom: 20px;
}

label {
  display: block;
  margin-top: 12px;
  color: #000;
  font-weight: bold;
}

input[type="text"],
input[type="email"] {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 8px;
  color: black;
  margin-top: 6px;
}

button {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #ffd43b;
  color: black;
  font-weight: bold;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.appointment {
  background-color: #f9f9f9;
  color: black;
  border-left: 5px solid #ffd43b;
  padding: 12px;
  border-radius: 8px;
  margin-bottom: 15px;
}

.appointment strong {
  color: #162b98;
}
